   body {
       margin: 0;
       padding: 0;

   }

   /* CAN ADD CSS  - > just like any other HTML element */
   canvas {
       background: black;
       position: absolute;
       bottom: 0;
       left: 50%;
       transform: translateX(-50%)
           /* top: 200px;
            left: 200px; */
   }